html, body {
    margin: 0;
    padding: 0;
}
.banner {
    background-image: url('images/banner-donuts.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    transition: height .25s ease-in-out;
}
.donut-pics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.donut {
    width: 50%;
    padding: 25px;
}
.donut img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.intro h1{
    border-style: dotted;
    border: 1px solid black;
    padding: 10px;
}
